{% extends "app/layout.html" %}

{% block content %}

<h2>PyTec.</h2>
<h3>Nosso objetivo é trazer todas as facilidades que a TI nos oferece para as empresas de todos os portes e segmentos, atendemos qualquer região do Brasil.

Sempre pensando prover soluções de qualidade na área de TI que vão de encontro ao negócio de nossos clientes, sempre com objetividade, disponibilizamos diversos produtos e serviços com um ótimo custo benefício, priorizando sempre o crescimento de nossos parceiros e clientes.</h3>


{% endblock %}
